- content_for :header do
  %hgroup
    :markdown
      # Searchable full-text transcripts of WWDC sessions
      ## Find the content you're looking for, without scrubbing through videos

  %form#search{method: 'GET', action: '/search'}
    %input{type: 'search', name: 'q', value: @query, placeholder: "Search for WWDC Sessions...", tabindex: 1, autocapitalize: "off", autocorrect: "off", autofocus: "autofocus", "x-webkit-speech" => "x-webkit-speech"}
    %label
      :markdown
        Examples: [Swift](/search?q=Swift), [Handoff](/search?q=Handoff), [SpriteKit](/search?q=SpriteKit), [Bluetooth](/search?q=Bluetooth), [NSHipster](/search?q=NSHipster)

= haml :'years/_2018'
= haml :'years/_2017'
= haml :'years/_2016'
= haml :'years/_2015'
= haml :'years/_2014'
= haml :'years/_2013'
= haml :'years/_2012'
= haml :'years/_2011'
= haml :'years/_2010'

:plain
  <script type="application/ld+json">
  {
     "@context": "http://schema.org",
     "@type": "WebSite",
     "url": "http://asciiwwdc.com/",
     "potentialAction": {
       "@type": "SearchAction",
       "target": "http://asciiwwdc.com/search?q={query}",
       "query-input": "required name=query"
     }
  }
  </script>
