%article.session{id: "session-#{@session.number}"}
  %header
    %h1
      %span.title= @session.title
      %a{href: video_url(@session)} 
    %h2
      %span.session= "Session #{@session.number}"
      %span.year= "WWDC #{@session.year}"
    %h3.description= @session.description

  %section.transcript
    - if @session.transcribed?
      = @session.markup
    - else
      - if @session.year == 2014
        %h1 Transcript Coming Soon
        :markdown
          Apple is expected to release transcriptions for WWDC 2014 sessions in the near future.

          [Follow @asciiWWDC](https://twitter.com/asciiwwdc) to be notified of future updates.
      - elsif @session.year == 2012
        .contribute
          %hgroup
            %h1 Help Transcribe This Session
            %h2 Join thousands of fellow ASCIIwwdc users to unlock this content for everyone.

          %a.call-to-action{href: "/contribute"} Click here to find out more.
