%article.session{id: "session-#{@session.number}", itemscope: true, itemtype: "http://schema.org/Article"}
  %header
    %h1
      %span.title{itemprop: "name"}= @session.title
      %a{href: video_url(@session), itemprop: "video", title: "Link to Video and Slides"} 
    %h2
      %span.session{itemprop: "alternateName"}= "Session #{@session.number}"
      %span.year{itemprop: "copyrightYear"}= "WWDC #{@session.year}"
    %h3.description{itemprop: "description"}= @session.description

  %section.transcript{itemprop: "text"}
    - if @session.transcribed?
      = @session.markup
    - else
      - if @session.year >= 2016
        %h1 Awaiting Transcript
      - else
        %h1 No Transcript Available

  %div{itemprop: "author copyrightHolder provider publisher sourceOrganization", itemscope: true, itemtype: "http://schema.org/Corporation", style: "display:none;"}
    %span{itemprop: "name"} Apple, Inc.
    %span{itemprop: "tickerSymbol"} AAPL
    %address{itemprop: "address", itemscope: true, itemtype: "http://schema.org/PostalAddress"}
      %span{itemprop: "streetAddress"}1 Infinite Loop
      %span{itemprop: "addressLocality"} Cupertino
      %span{itemprop: "addressRegion"} CA
      %span{itemprop: "postalCode"} 95014
      %span{itemprop: "addressCountry"} US
