%article.session{id: "session-#{@session.number}"}
  %header
    %h1
      %span.title= @session.title
      %a{href: video_url(@session)} 
    %h2
      %span.session= "Session #{@session.number}"
      %span.year= "WWDC #{@session.year}"
    %h3.description= @session.description

  %section.transcript
    - if @session.transcribed?
      = @session.markup
    - else
      %hr
      .contribute
        %hgroup
          %h1 Help Transcribe This Session
          %h2 Join thousands of fellow ASCIIwwdc users to unlock this content for everyone.

        %a.call-to-action{href: "/contribute"} Click here to find out more.
